pkgbase = balena-etcher-appimage
	pkgdesc = Flash OS images to SD cards & USB drives, safely and easily
	pkgver = 1.18.1
	pkgrel = 2
	url = https://www.balena.io/etcher
	arch = x86_64
	license = Apache
	depends = fuse2
	provides = balena-etcher-appimage=1.18.1
	conflicts = balena-etcher-appimage
	conflicts = balena-etcher
	options = !strip
	source = https://github.com/balena-io/etcher/releases/download/v1.18.1/balenaEtcher-1.18.1-x64.AppImage
	sha256sums = 0b0e7060ac2c14e1a7e4e80d7f36feaea26f303051fc2ecf18348b268fb887a1

pkgname = balena-etcher-appimage
