pkgbase = balena-etcher-appimage
	pkgdesc = Flash OS images to SD cards & USB drives, safely and easily
	pkgver = 1.16.0
	pkgrel = 1
	url = https://www.balena.io/etcher
	arch = x86_64
	license = Apache
	depends = fuse2
	provides = balena-etcher-appimage=1.16.0
	conflicts = balena-etcher-appimage
	conflicts = balena-etcher
	options = !strip
	source = https://github.com/balena-io/etcher/releases/download/v1.16.0/balenaEtcher-1.16.0-x64.AppImage
	source = balena-etcher.sh
	sha256sums = 2a57df3742aad4c296bae4d676461e9969169930e37878192ca2a974cd93c370
	sha256sums = ff83e497ce3e030d6181ed07e4c25bed90a9c5a959e66b2613ba7ec1f7537cd8

pkgname = balena-etcher-appimage
